header,
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;

  font-family: Arial, Tahoma, Verdana, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 0 10px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.profile {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.profile > *:not(:last-child) {
  margin-right: 16px;
}

.logo {
  font-family: monospace;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-right: 24px;
}

.logo a {
  border: 0;
  text-transform: uppercase;
}

main {
  padding: 40px 0;
}


nav {
  display: flex;
}
nav > *:not(:last-child) {
  margin-right: 16px;
}

.btn.-logout {
  font-size: 14px;
  cursor: pointer;
}