.problem-info {
  background: #eee;
  padding: 24px;
  margin-bottom: 16px;
  font-size: 14px;

  border-radius: 5px;
}

.problem-info h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.problem-info p {
  
}

.problem-footer {
  margin-top: 24px;
}

.problem-footer__submit {
  border: 0px;
  background: rgb(255, 228, 140);
  padding: 8px 40px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

.code {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 6px;
  position: relative;
  height: 100%;
  min-height: 600px;
}


.codeflask {
  border-radius: 6px;
}



.problem-tests {
  margin-top: 24px;
}

.test-result {
  margin-bottom: 8px;
}

/* */
.modal {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  
  position: fixed;
  z-index: 10; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background: #fff;
  text-align: center;
}

.modal__close {
  position: absolute;
  right: 10%;
  top: 10%;
  color: #000;
  font-size: 24px;
  background: transparent;
  border: 0;
}

.modal__result {
  font-size: 40px;
  margin-top: 20px;
}